#todoer-icon {
    background: url(../images/todoer-icon-grey.svg) no-repeat 0 0;
}

#todoer-icon.active {
    background: url(../images/todoer-icon.svg) no-repeat 0 0;
}

#todoer-panel{
    background-color: #222222;
    padding: 12px;
    min-height: 340px;
    max-height: 340px;
}

.todo-table-wrapper{
    overflow: scroll;
    overflow-x: hidden;
    display:block;
    height: 260px;
}

.todo-table{
    width:100%;
}

.todo-table td{
    padding:5px;
}

.todo-table > tbody > tr:first-child{
    color: #CAFF98;
    font-size: 22px;
    cursor: auto;
    padding:10px;
}

.todo-table > tbody > tr:nth-child(even){
    background: #282828;
}

.todo-table > tbody > tr > td:first-child{
    text-align: center;
}

.todo-table > tbody > tr > td{
    cursor:pointer;
}

#todoer-panel > header{
    position: relative;
}

.todo-title{
    display: inline-block;
}

.todo-caption{
    display: inline-block;
    margin-left: 16px;
    font-size: 23px;
    color: #5F5F5F;
}

.todo-divider{
    border-top: none;
    border-bottom: 1px solid #444;
    margin: 5px;
}

.todo-close{
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    color: #BBBBBB;
    background: transparent;
    border: none;
    font-size: 20px;
}

.todo-close:hover{
    color:white;
}